@font-face {
   font-family: 'Myriad Pro Bold SemiExtended';
   font-display: swap;
   src: url('file:///C:/Users/HP/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-02-14_230445/fonts/Myriad%20Pro%20Bold%20SemiExtended/font.ttf');
}
