body {
    font-family: 'Roboto-Light', sans-serif;

}
.column1 {
    margin-top: 18px;
    /* margin-left: 270px !important; */
    float: left;
    width: 15.23%;
    padding: 5px;
    border: 1px solid #7A97FF!important;
    border-radius: 6px;
  }
  .column2 {
    margin-top: 18px;
    margin-left: 15px !important;
    /* float: left; */
    width: 15.23%;
    padding: 5px;
    border: 1px solid #7A97FF!important;
    border-radius: 6px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .row{
    margin:inherit;
  }
  
              .full-height {
                  height: 100vh;
              }
  
              .flex-center {
                  align-items: center;
                  display: flex;
                  justify-content: center;
              }
  
              .position-ref {
                  position: relative;
                  height:60px;
              }
              .links > a:hover{
                  padding: 10px 42px !important;
                  border: 1px solid #7A97FF!important;
                  color:#7A97FF !important;
      
  }
  .nav-link:hover{
    /* padding: 10px 42px !important;
    border: 1px solid #7A97FF!important;
    color:#7A97FF !important; */

}
              .links > a {
                  color: #636b6f;
                  padding: 10px 42px !important;
                  font-size: 13px;
                  font-weight: 600;
                  letter-spacing: .1rem;
                  text-decoration: none;
                  text-transform: uppercase;
                  
              }
              .m-b-md {
                  margin-bottom: 30px;
              }
              .top-right {
                  position: absolute;
                  right: 10px;
                  top: 18px;
                  
              }
              .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  /* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 95px;
    width: 40%;
  }
  .w3-button{

    background-color: #7A97FF !important;
    border-radius: 16px;
    color: white !important;
    width: 120%;
  } 
  .profile_image{

    border-radius: 70px !important;
    width: 50%;
  }
  .tour_image{

    width: 28%;
    height: 100%;
  }
  .profile_text{
    margin-left: 2px;
    font-size: 18px;
    font-weight: 700;
    color: black;
  }
  .blue_text{
    color:#7A97FF;
    font-size: 16px;

  }
  
/* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8; 
    cursor: pointer; 
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container */
  .container1 {
    position: relative;
    /* display: none; */
  }
  
  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  
  /* Closable button inside the expanded image */
  .closebtn {
    position: absolute;
    /* top: 10px; */
    right: 28px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }
  .topnav {
    overflow: hidden;
    background-color: white;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: Black;
    text-align: center;
    padding: 9px 40px;
    text-decoration: none;
    font-size: 17px;
  }
  
  
  .topnav .icon {
    display: none;
  }
  
  .topnav a:hover {
    /* background-color: #7A97FF;
    color: white; */
    border-bottom: 3px solid #7A97FF;
  }
  
  
  
  
  @media screen and (max-width: 600px) {
    .topnav a.icon {
      float: right;
      display: block;
    }
    
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive  {float: none;}
    .topnav.responsive  {position: relative;}
    .topnav.responsive  {
      display: block;
      width: 100%;
      text-align: left;
    }
  }

  .footer3{
    background-color: lightgrey !important;
  }
  .message_button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 16px 70px;
    border-radius: 22px;
  }
  .book_button{
    background-color: #7A97FF; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 16px 70px;
    border-radius: 22px;
  }
  .book_button:hover{
    /* background-color: black;  */
    border-radius:0px;
    
  }
  .message_button:hover{
    border-radius:0px;
    
  }
  .bgimg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/assets/images/Signup.jpg');
    min-height: 100%;
  }
  .modalcustomdel {
  position: fixed;
    top: 11%;
    left: 16%;
    z-index: 1050;
    display: none;
    width: 54%;
    /* height: 81.3%; */
    /* overflow: hidden; */
    outline: 0;
    background-color: rgb(0,0,0) !important;
    background-color: rgba(0,0,0,0.4)!important;
  /* The Modal (background) */
}
.modalcustom {
  position: fixed;
    top: 11%;
    left: 16%;
    z-index: 1050;
    display: none;
    width: 68%;
    height: 81.3%;
    overflow: hidden;
    outline: 0;
  background-color: rgb(0,0,0) !important; /* Fallback color */
  background-color: rgba(0,0,0,0.4)!important; /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
}

/* The Close Button */
.close, .close1 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close1:hover,
.close:focus,
.close1:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.mouse_rove{
  cursor: pointer;
}
.tours{
  height: 240px;
  margin-top:25px;
  border-color: #5bbaff;
  -webkit-box-shadow: 0 0 10px #5bbaff;
  box-shadow: 0 0 10px #5bbaff;
}
.mobile_change{
  position: fixed;
    width: 26% !important;
    height: 81.2%;
    left: 15.8%;
    top: 11%;
}

@media screen and (max-width: 600px) {
.modalcustom{
  position: fixed;
    top: 11%;
    left: 3%;
    z-index: 1050;
    display: none;
    width: 93%;
    height: 69.3%;
    overflow: hidden;
    /* overflow-y: scroll; */
    outline: 0;
    background-color: rgb(0,0,0) !important;
    background-color: rgba(0,0,0,0.4)!important;
}
.mobile_change{
  position: fixed;
    width: 36% !important;
    height: 69.2%;
    left: 2.8%;
    top: 11%;
}

}
.blur{
  -webkit-filter: blur(10px);
}